@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');

body{
    background: linear-gradient(to top, rgb(128, 171, 224), white);
    font-family: 'Almarai', sans-serif;
    height: 100vh;
}

header {
    background: rgb(92, 157, 242);
    padding: 40px;
    height: 50px;
}

nav{
    text-align: center;
}

nav ul {
    display: inline-block;
    vertical-align: bottom;
    padding: 5px 0;

}

nav li {
    display: inline;
}

nav a{
    color: white;
    font-size: 40px;
    text-align: right;
    transition: 2s all;
}

nav a:hover{
    color: rgb(38, 85, 145);
}


.caixa{
    text-align: center;
}

.caixa li{
    display: inline-block;
    vertical-align: top;
    margin: 20px 50px;
}

.receber-mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 470px;
    font-family: 'Almarai', sans-serif;

}

.receber-mensagem textarea{
    width: 400px;
    height: 400px;
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
    color: rgb(92, 157, 242);
    background: transparent;
    border: none;
    resize: none;
    font-family: 'Almarai', sans-serif;
}

.btn {
    text-align: center;
}

.btn p {
    padding-bottom: 10px;
    color: #888888;
    font-family: 'Almarai', sans-serif;
}

.btn button {
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Almarai', sans-serif;
    margin: 0 20px;
}

#btn-cripto {
    background: rgb(92, 157, 242);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: 2s all;
}

#btn-descri{
    background: rgb(255, 255, 255);
    border: 2px solid rgb(92, 157, 242);
    color: rgb(92, 157, 242);
    transition: 2s all;
}

button:hover{
    transform: scale(1.12);
}

.exibir-mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    background: white;
    white-space: normal;
    padding: 10px 0 0 0;
    font-family: 'Almarai', sans-serif;
    box-shadow: 0 0 13px rgb(38, 85, 145);
}

.exibir-mensagem img{
    width: 250px;
    margin: 10px 20px;
    transition: 2s all;
}

.exibir-mensagem img:hover {
    transform: scale(1.1);
}

#texto{
    font-size: 20px;
    padding: 30px 20px;
    color: rgb(38, 85, 145);
}

#exibir-msg {
    font-size: 20px;
    color: rgb(38, 85, 145);
    padding-top: 20px;
    text-align: center;
    border: none;
    resize: none;
    width: 300px;
    height: 100%;
    background: rgb(255, 255, 255);
    font-family: 'Almarai', sans-serif;
}

#copy {
    background: rgb(92, 157, 242);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    margin: 20px 0;
    padding: 10px 30px;
    border-radius: 10px;
    transition: 2s all;
}

#copy:hover {
    transform: scale(1.2);
}

textarea:focus {
    outline: 0;
}

@media screen and (max-width: 980px ) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}